*.env
node_modules
dist/
build/
.env.*
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage/
.idea/
.vscode/
*.tsbuildinfo
*.swp
*.swo
*.bak
*.tmp
*.cache
*.local
*.lock
*.tgz
*.zip
*.tar
*.gz
*.rar
*.7z
*.sublime-workspace
*.sublime-project
*.iml
*.class
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite
*.db
*.pid
*.seed
*.orig
*.rej
*.out
*.map
*.min.js
*.min.css
*.test.js
*.test.ts
*.test.jsx
*.test.tsx
*.spec.js
*.spec.ts
*.spec.jsx
*.spec.tsx
